BETTER_AUTH_SECRET=2kQAXJgfAQ6GEIrNyZV2T849c53fEEQL #Change this!
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/test_db
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REPOSITORY_OWNER=MichaelRayven
GITHUB_REPOSITORY_NAME=project-nexus
GITHUB_TOKEN=